[submodule "CalumWorkFolder"]
	path = CalumWorkFolder
	url = https://github.com/calumapplepie/SeniorDesignProject
	branch = master
	
[submodule "picow-iot-test"]
	path = picow-iot-test
	url = https://github.com/cniles/picow-iot
	branch = main
[submodule "CameraPicoConnectionProject"]
	path = CameraPicoConnectionProject
	url = https://github.com/torzewss/CameraPicoConnectionProject
[submodule "ESPHomeDeviceConfigs"]
	path = ESPHomeDeviceConfigs
	url = https://github.com/calumapplepie/ESPHomeDeviceConfigs.git
